@page
@model CarRenting_Client.Pages.BookingDetailModel
@{
}

<div>
    <label for="bookingDate">Booking Date:</label>
    <input id="bookingDate" type="text" asp-for="Booking.BookingDate" disabled>
</div>
<div>
    <label for="totalPrice">Total Price:</label>
    <input id="totalPrice" type="text" asp-for="Booking.TotalPrice" disabled>
</div>
<div>
    <label for="startDate">Start Date:</label>
    <input id="startDate" type="text" asp-for="Booking.BookingDetails[0].StartDate" disabled>
</div>
<div>
    <label for="endDate">End Date:</label>
    <input id="endDate" type="text" asp-for="Booking.BookingDetails[0].EndDate" disabled>
</div>
<div>
    <label for="carPrice">Car Price:</label>
    <input id="carPrice" type="text" asp-for="Booking.BookingDetails[0].CarPrice" disabled>
</div>
<div>
    <label for="fined">Fined:</label>
    <input id="fined" type="text" asp-for="Booking.BookingDetails[0].Fined" disabled>
</div>
<div>
    <label for="fined">Fined:</label>
    <input id="fined" type="text" asp-for="Booking.BookingDetails[0].ContractID" disabled>
</div>

<a asp-page="Contract" asp-route-contractID="@Model.Booking.BookingDetails[0].ContractID">View Contract</a>
<a asp-page="CarDamage" asp-route-damageID="@Model.Booking.BookingDetails[0].DetailsID">View Car Damage</a>