@page
@model CarRenting_Client.Pages.ContractModel
@{
}

<div>
    <label for="">Car Information</label>
    <input type="text" asp-for="Contract.CarInformation" disabled>
</div>
<div>
    <label for="">Deposit</label>
    <input type="text" asp-for="Contract.Deposit" disabled>
</div>
<div>
    <label for="">Note</label>
    <input type="text" asp-for="Contract.Note" disabled>
</div>
<div>
    <form asp-page-handler="Accept" asp-route-contractID="@Model.Contract.ContractID">
        <input type="hidden" name="ContractID" value="@Model.Contract.ContractID" />
        <button type="submit" class="btn btn-default">Accept</button>
    </form>
    <form asp-page-handler="Reject" asp-route-contractID="@Model.Contract.ContractID"
          onclick="return confirm('Are you sure you want to reject this?')">
        <input type="hidden" name="ContractID" value="@Model.Contract.ContractID" />
        <button type="submit" class="btn btn-default">Reject</button>
    </form>
</div>