@page
@model CarRenting_Client.Pages.ContractModel
@{
}

<div>
    <label for="">Car Information</label>
    <input type="text" asp-for="Contract.CarInformation" disabled>
</div>
<div>
    <label for="">Deposit</label>
    <input type="text" asp-for="Contract.Deposit" disabled>
</div>
<div>
    <label for="">Note</label>
    <input type="text" asp-for="Contract.Note" disabled>
</div>