@page
@model CarRenting_Client.Pages.Users.EditModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Job Dashboard | By Code Info</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarRenting_Client.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/popup.css" />
    <style>
        .notification {
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f1f1f1;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

            .notification.show {
                opacity: 1;
                transform: translateX(-50%) translateY(0);
            }

    </style>
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>

<body>
    <div class="container">
        <nav>
            <div class="navbar">
                <div class="logo">
                    <img src="/pic/logo.jpg" alt="">
                    <h1>HCAR</h1>
                </div>
                <ul>
                    <li>
                        <a href="User">
                            <i class="fas fa-user"></i>
                            <span class="nav-item">Users</span>
                        </a>
                    </li>
                    <li>
                        <a href="Login" class="logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-item">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="main">
            <div class="main-top">
                <p>Dam Anh Bang SE150648 University</p>
            </div>
            <div class="main-body">
                <h1>Users Management</h1>

                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="User.UserID" />
                    <div class="form-group">
                        <label asp-for="User.UserName" class="control-label"></label>
                        <input asp-for="User.UserName" class="form-control" />
                        <span asp-validation-for="User.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Password" class="control-label"></label>
                        <input asp-for="User.Password" class="form-control" />
                        <span asp-validation-for="User.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Email" class="control-label"></label>
                        <input asp-for="User.Email" class="form-control" />
                        <span asp-validation-for="User.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Phone" class="control-label"></label>
                        <input asp-for="User.Phone" class="form-control" />
                        <span asp-validation-for="User.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Identification" class="control-label"></label>
                        <input asp-for="User.Identification" class="form-control" />
                        <span asp-validation-for="User.Identification" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.License" class="control-label"></label>
                        <input asp-for="User.License" class="form-control" />
                        <span asp-validation-for="User.License" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <label asp-for="User.Status" class="control-label"></label>
                    <input asp-for="User.Status" class="form-control" />
                    <span asp-validation-for="User.Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <label asp-for="User.RoleID" class="control-label"></label>
                    <input asp-for="User.RoleID" class="form-control" />
                    <span asp-validation-for="User.RoleID" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-top: 15px">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
                

            </div>

            @if (TempData["Message"] != null)
            {
                <div class="notification">
                    <p>@TempData["Message"]</p>
                </div>
            }

        </section>




    </div>

</body>

</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
