@page
@model CarRenting_Client.Pages.RegisterUserModel

@{
    Layout = null;
}

@if (ViewBag.Message != null)
{
    <div class="alert-danger">@ViewBag.Message</div>
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Register New User</title>
    <link rel="stylesheet" href="~/css/register.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="title">Register</div>
        <div class="content">
            <form method="post">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input asp-for="User.UserName" type="text" placeholder="Enter your Name" required>
                        <span asp-validation-for="User.UserName" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input asp-for="User.Password" type="password" placeholder="Enter your Password" required>
                        <span asp-validation-for="User.Password" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input asp-for="User.Email" type="text" placeholder="Enter your Email" required>
                        <span asp-validation-for="User.Email" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input asp-for="User.Phone" type="tel" placeholder="Enter your Phone number" required>
                        <span asp-validation-for="User.Phone" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">Identification</span>
                        <input asp-for="User.Identification" type="text" placeholder="Enter your Identification number" required>
                        <span asp-validation-for="User.Identification" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">License</span>
                        <input asp-for="User.License" type="text" placeholder="Enter your License number" required>
                        <span asp-validation-for="User.License" class="text-danger"></span>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</body>
</html>

